.App {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

h1 {
  margin-top: 0px;
}

span h1 , h4 {
  margin: 0px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

span {
  margin-bottom: 10px;
  display: block;
}

.container {
  margin: 0px auto;
}

.scrapped
{
  position: relative;
  color: black;
  width: 800px;
  top: -1800px;
  background-color: white;
  margin: 0px auto;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: auto;
  align-content: flex-start;
  outline: 9px solid #000;
  outline-offset: -16px;
}

.scrapped > section{
  flex: 1 1 auto;
  margin: 30px;
}

section.ava {
  text-align: right;
  display: flex;
  margin: 9px;
}


header {
  position: relative;
  color: black;
  width: 800px;
  top: -1800px;
  background-color: white;
  margin: 10px auto;
  outline-offset: -16px;
  outline: 9px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

header h1 {
  margin: 30px;
  justify-content: flex-start; 
}
header h6 {
  margin: 30px;
  justify-content: flex-end;
}

@media (max-width:600px),
(max-device-width:600px) {

  .scrapped {
    display: block;
    width: 100%;
    height: 104vh;
  }

  .ava img {
    width: 100%;
  }

}

.spinner_big {
  width: 50px;
  height: 50px;
  display: block;
  -webkit-animation: rotation 2s infinite linear;
  margin: 0px auto;
}

.spinner_small {
  width: 32px;
  height: 32px;
  display: block;
  -webkit-animation: rotation 2s infinite linear;
  animation-direction: reverse;
  margin: 0px auto;
  right: -22px;
  position: relative;
  top: 10px;
}

@keyframes rotation {
  from {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);

  }
  to {
          -webkit-transform: rotate(359deg);
          transform: rotate(360deg);
  }
}
