.App {
  height: 100vh;
  flex-wrap: wrap;
  flex-direction: row;
}

.Loader-Canvas {

   top: 10px;
    position: absolute;
    z-index: -8;
}

.Loader {
  margin: 0px auto;
  position: absolute;
  top: -100px;
}

.Loader h2 {

  font-size: 150px;
  position: absolute;
  top: -400px;
}

.fuse {
  margin: auto;
  width: 50px;
  height: 50px;
  color: white;
  animation: mymove 2s infinite;
}

@keyframes mymove {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

canvas {
  outline: 9px solid #000;
  outline-offset: -9px;
}


html {
  background-color: #000;
}

header h1 {
  font-weight: bold;
  color: #fff;
}
header h2 {
  color: #000;
}

h1 {
  margin-top: 0px;
}

span , h1 , h4 , h2, p {
  
  color: #fff;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

span {
  margin-bottom: 10px;
  display: block;
}

.container {
  margin: 0px auto;
}

.scrapped
{

  color: black;
  width: 800px;
  top: -2000px;
  background-color: white;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: auto;
  align-content: flex-start;
  outline: 9px solid #000;
  outline-offset: -16px;
}

.scrapped > section{
  flex: 1 1 auto;
  margin: 30px;
}

section.ava {
  text-align: right;
  display: flex;
  margin: 9px;
}

.ava img {
  width: 100%;
  height: 100%;
  outline: 9px solid #000;
  outline-offset: -9px;
}

.dpm {
  position: relative;
  top: 100px;
  margin: 0px auto;
  width: 800px;
  z-index: 9;
}

header {
  position: relative;
  color: black;
  width: 800px;
  background-color: white;
  margin: 10px auto;
  outline-offset: -16px;
  outline: 9px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

header h1 {
  margin: 30px;
  justify-content: flex-start; 
  font-size: 138px;
    color: #000;
}

header h2 {
  margin: 30px;
  justify-content: flex-start; 

    color: #000;
}

header h6 {
  margin: 30px;
  justify-content: flex-end;
}


@media (max-width:600px),
(max-device-width:600px) {

  canvas {
    height: 350px !important;
  }

  .dpm {
    width: 100% !important;
  }

  header {
    width: 100% !important;
  }

  .scrapped > section {
    padding-top: 30px;
  }

  .scrapped {
    display: block;
    width: 100%;
    height: 108vh;
  }

  .ava img {
    width: 70%;
    height: 50%;
    margin: 0px auto;
    outline: none;
  }

  section.ava {
    margin: 0px !important;
  }

  .scrapped {
    outline-offset: -8px !important;
  }

}



.spinner_big {
  width: 50px;
  height: 50px;
  display: block;
  -webkit-animation: rotation 2s infinite linear;
  margin: 0px auto;
}

.spinner_small {
  width: 32px;
  height: 32px;
  display: block;
  -webkit-animation: rotation 2s infinite linear;
  animation-direction: reverse;
  margin: 0px auto;
  right: -22px;
  position: relative;
  top: 10px;
}




@keyframes rotation {
  from {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);

  }
  to {
          -webkit-transform: rotate(359deg);
          transform: rotate(360deg);
  }
}
